<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>GyanPDF</title>
        <style>
        
        #footer {
            width: 100%;
            height: 28px;
            border-top: 1px solid #E0E0E0;
            position: absolute;
            bottom: 0px; 
            left: 0px; 
            text-align: center; 
        }
        </style>
    </head>
    <body>
       <div class="container">
          
           <br><br>
           <h1><span class="glyphicon glyphicon-king"></span> Gyanartha PDF Generator</h1>
           <br>
           <form action="/" method="post">
         
              <div class="form-group ">
              <label for="date">Date</label>
              <input type="text" class="form-control" name="date" id="date" placeholder="Date"><br>
              
              <label for="sub">Subject</label>
              <input type="text" class="form-control" name="sub" id="sub" placeholder="Subject"><br>
              
              <label for="content">Content</label>
                  <textarea rows="3" cols="40" class="form-control" name="content" id="content" placeholder="Content"></textarea><br>
              
              
              <button style="text-align:center" type="submit" class="btn btn-primary">Submit</button>  
         
              </div>

        </form>
               
        <div id="footer"> Because I'm too lazy for this shit. <span class="glyphicon glyphicon-sunglasses"></span> <a href="http://github.com/ramannv">Raman Nv</a></div>

        </div>
        
    </body>
</html>